.about-LMS {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 658px;
}
.about-LMS-content {
	display: flex;
	margin-top: 100px;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 1;
	max-width: $contentWidth;
}
.about-LMS-content-text {
	display: flex;
	flex-basis: 48%;
	flex-direction: column;
	justify-content: space-between;

	h2 {
		font-size: 30px;
		font-weight: bold;
		color: #192041;
		padding: 10px;
	}

	p {
		color: #666666;
	}
}
.about-LMS-content-text-main {
	padding: 10px;
}
.button {
	padding: 10px;
}
.about-LMS-content-photo {
	display: flex;
	flex-basis: 48%;
	overflow: hidden;
	border: 1px solid #000;
	&:hover {
		cursor: pointer;
		img {
			opacity: 0.7;
		}
	}
	img {
		width: 100%;
	}
}

//-------------------------------------------------
// Media queries
@media screen and (max-width: 700px) {
	.about-LMS-content-text, .about-LMS-content-photo {
		flex-basis: 100%;
	}
}