.achievements {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 800px;
	background: linear-gradient(174deg, #D7D7D7 60%, #FFF 60%, #FFF 40%);
}
.achievements-content {
	flex-basis: $contentWidth;
	max-width: $contentWidth;
	h2 {
		font-size: 30px;
		color: #4D4D4D;
		padding-left: 10px;
		margin-bottom: 50px;
	}
}
.achievements-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
}
.achieve-numbers {
	font-size: 30px;
	font-weight: bold;
	color: #333333;
}
.achieve {
	width: 200px;
}
.achieve img {
	float: left;
	margin-right: 30px;
}
.achieve-title {
	color: #666666;
}
.achievements-line {
	width: 370px;
	border: 1px solid #000;
	margin: 40px 0;
}
.achievements-description {
	max-width: 456px;
	color: #333;
}
.achievements-video {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
	height: 380px;
	margin: 35px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(../../images/achievements/bgVideo.jpeg);
}
.achievements-video-title {
	color: #fff;
	font-size: 30px;
	margin: 20px 0;
	text-shadow: 0px 0px 5px #000;
}