footer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 650px;
	background-color: #212121;
}
.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	width: $contentWidth;
	color: #fff;
}
.signup {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content: space-between;
	align-items: center;
	p {
		font-size: 18px;
	}
	form input[name="email"] {
		height: 40px;
		width: 380px;
		color: #fff;
		padding: 10px;
		background-color: #000;
		border: 1px solid #fff;
		font-family: Arial, sans-serif;
		&:focus {
			color: #000;
			background-color: #fff;
		}
	}

	form input[name="submit"] {
		height: 40px;
		width: 144px;
		border: 0;
		text-transform: uppercase;
		font-family: Arial, sans-serif;
	}
	form input[name="submit"]:hover {
		cursor: pointer;
		background-color: #1A56D6;
		color: #fff;
	}
}
.social {
	text-align: right;
	font-size: 18px;
	padding: 50px 10px;
	span {
		padding: 10px;
		&:hover {
			cursor: pointer;
			color: #1A56D6;
		}
	}
}
.addresses {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	line-height: 1.5em;
	color: #bbb;
}
.links a {
	color: #bbb;
	text-decoration: none;
}
.links a:hover {
	color: #1A56D6;
}
.addresses .bigger {
	color: #fff;
	font-size: 20px;
}
.address {
	margin: 10px;
	align-self: flex-start;
}
.links {
	margin: 10px;
	align-self: flex-start;
}
.maps {
	max-width: 557px;
	margin: 10px;

	&:hover {
		cursor: pointer;
	}

	img {
		width: 100%;
	}
}
.footer-divider {
	width: 100%;
	border: 1px solid #fff;
	margin: 20px 0;
}
.copyright {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
}
.team, .joinus, .inviteus {
	margin-right: 30px;
}
.team-reference {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	div:hover {
		cursor: pointer;
		color: #1A56D6;
	}
}
.copyr {
	text-transform: uppercase;
}
