.register{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #1A56D6;
	min-height: 43px;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
}
.register-content {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: space-between;
	max-width: $contentWidth;
	a {
		text-decoration: none;
		color: #fff;
	}
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 130px;
	color: #1A56D6;
	box-shadow: 0px 0px 4px 0px #000;
}
.nav-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	max-width: $contentWidth;
}
.nav-content .logo {
	padding: 10px;
	font-size: 36px;
	font-family: Pacifico, "Pacifico Regular", AdobeInvisFont, "MyriadPro Regular";
}
.nav-content a {
	margin: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #1A56D6;
	border-bottom: 3px solid #fff;
}
.nav-content a:hover, .nav-content a.active {
	border-bottom: 3px solid #1A56D6;
}
.nav-content .find {
	font-size: 18px;
	padding: 10px;
}
.nav-comtent-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
	padding: 10px;
}

//-----------------------------------------
// Media queries
@media screen and (max-width: 1200px) {
	.nav-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		max-width: $contentWidth;
	}
}
@media screen and (max-width: 400px) {
	.register-content {
		.contacts, .register-form {
			padding: 10px 0;
		}
	}
}
