.interested {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 848px;
	background: linear-gradient(164deg, #D7D7D7 60%, #FFF 60%, #FFF 40%);
}
.interested-content {
	max-width: $contentWidth;
	h2 {
		padding-left: 10px;
		font-size: 30px;
		color: #4D4D4D;
		font-weight: bold;
	}
}
.interested-content-slideset {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.interested-content-slide {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 376px;
	min-width: 300px;
	height: 275px;
	margin: 10px;
	color: #333333;
	background-color: #fff;
	box-shadow: 0px 0px 5px 0px #bbb;
	&:hover {
		cursor: pointer;
		background-color: #bbb;
		box-shadow: 0px 0px 10px 0px #666;
	}

	p {
		font-size: 30px;
		color: #666666;
		margin: 0px;
	}
}
.interested-picture {
	font-size: 88px;
}