.news {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 700px;
}
.news-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	flex-basis: $contentWidth;
	width: $contentWidth;
}
.news-content h2 {
	margin-left: 10px;
	font-size: 30px;
	color: #4D4D4D;
}
.news-tiles {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.news-tiles-item {
	margin: 10px;
	width: 360px;
	height: 390px;
	box-shadow: 0px 0px 5px 0px #666;
}
.news-tiles-image {
	width: 360px;
	height: 240px;
}
.news-tiles-text {
	padding: 25px;
	width: 360px;
	height: 150px;
}
.tiles-text-date {
	font-size: 13px;
	color: #808080;
}
.tiles-text-title {
	color: #666666;
}
.news-tiles-more a {
	font-size: 12px;
	color: #1414D9;
	text-decoration: none;
}
.news1 {
	background-image: url(../../images/news/news1.jpeg);
}
.news2 {
	background-image: url(../../images/news/news2.jpeg);
}
.news3 {
	background-image: url(../../images/news/news3.jpeg);
}
.news-button a {
	display: block;
	width: 271px;
	height: 68px;
	margin: 40px 0;
	text-align: center;
	padding: 23px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial, sans-serif;
	color: #fff;
	background-color: #1A56D6;
	border: 2px solid #1A56D6;
}
.news-button a:hover {
	color: #1A56D6;
	background-color: #fff;
}
